{{ define "main" }}
<div class="page-content">
    <div class="grid-layout">
        <div class="link-box with-shadow">
            <ul>
                <li>
                    <a href="https://bsky.app/profile/mona.cool">blsky</a>
                </li>
                <li>
                    <a href="https://soundcloud.com/coolcat-mona">soundcloud</a>
                </li>
            </ul>
        </div>
        <div class="left-box with-shadow">
            <p id="left-box-title"><a href=/gallery/>gallery.</a></p>
            <div class="color-1"></div>
            <div class="color-2"></div>
            <div class="color-3"></div>
        </div>
        <div class="center-grid">
            <p class="header">The coolest site on the internet</p>
            <div class="center-box with-shadow" id="centerBox">
                <img class="center-image" src="img/wire.svg" alt="Hand holding a domino mask"
                    title="do NOT talk to me about polygons">
                <p class="center-text">Hi!<br>I'm <b class="bouncy">Mona</b><span class="small">(They/She)</span><br><br>
                    Welcome to my mind palace.<br>
                    The coollest site on the internet where I share whatever I want! (usually thoughts, pictures, media)<br><br>
                    I'm a just a <span class="bouncy">girl</span> who's learning to love herself.<br><br>
                    I like music and art and arknights and hitting peopoel with swords and dancing and making stuff and programming fun little projects.<br>
                    But most of all, I think I love <span class="bouncy">learning</span> the most!!<br><br>
                    I hope that I can share a bit about myself with you : D</p>
                <p class="bottom-text">I wear my mask, just like the
                    rest of you</p>
                <p class="bottom-text-alt">I don't need to hide anymore.</p>
            </div>
        </div>
        <div class="right-box with-shadow">
            <p id="right-box-text">Easily influenced
                <br><a href=/blog/classically_handsome>Classically Handsome
                    Features</a>
                <!-- <br><a href=/blog/>under construction...</a> -->
            </p>
        </div>
        <div class="buttons-box with-shadow">
            <img src="/img/buttons/mona_dot_cool.gif" alt="mona.cool" width="88" height="31">
            <a href="#"><img src="/img/buttons/animegay.gif" alt="animegay" width="88" height="31"></a>
            <a href="#"><img src="/img/buttons/blender.gif" alt="blender" width="88" height="31"></a>
            <a href="#"><img src="/img/buttons/gaywomen.gif" alt="gaywomen" width="88" height="31"></a>
            <a href="#"><img src="/img/buttons/y2k.gif" alt="y2k" width="88" height="31"></a>
            <a href="#"><img src="/img/buttons/belegarth_jugger.gif" alt="y2k" width="88" height="31"></a>
        </div>
    </div>
</div>

<div class="background">
    <canvas id="backgroundCanvas"></canvas>
</div>

{{ end }}
